@tailwind base;
@tailwind components;
@tailwind utilities;

/* Erlaubt uns, Scrollbars in Menüs unsichtbar zu machen, ohne die Funktion zu stören */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}